@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./reset.css");
@import url('./media_queries.css');
/* || Variables */

:root {
  /* primary */
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  /* Accent */
  --clr-blue: hsl(248, 32%, 49%);
  /* Neutral */
  --clr-darkblue: hsl(249, 10%, 26%);
  --clr-grayblue: hsl(246, 25%, 77%);
  /* Typography */
  --fs-noraml: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* || General Style */

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-noraml);
  font-weight: var(--fw-400);
  background-color: var(--clr-red);
  color: hsl(0, 0%, 100%);
  display: grid;
  min-height: 100vh;
  background-image: url(../../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}

main {
  text-align: center;
}

/* || Heading section */

.header-container .main-title {
  font-weight: var(--fw-700);
  margin-block: 1em 0.2em;
}
.header-container p {
  margin-block: 0 2em;
}

/* || buttons */
.trial-btn {
  background-color: var(--clr-blue);
  border: none;
  color: inherit;
  border-radius: 0.4em;
  padding: 0.7em 5.7em;
}
.span-1 {
  font-weight: var(--fw-700) !important;
}
.span-2 {
  display: block;
}
.claim-trial-btn {
  background-color: var(--clr-green);
  color: inherit;
  border: none;
  margin-block-start: 2em;
  padding: 1em 4em;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

/* || Form */

.signup-form {
  background-color: hsl(0, 0%, 100%);
  margin: 1em 1em;
  padding: 1.5em 0;
  border-radius: 0.5em;
}
.signup-form > div {
  margin-top: 1em;
}

.input {
  margin: 0 auto;
  display: block;
  width: 85%;
  padding: 0.7em 0;
  outline: none;
  border: solid 1px var(--clr-grayblue);
  border-radius: 0.3em;
  color: var(--clr-darkblue);
  text-indent: 1rem;
  font-weight: var(--fw-600);
}
.input:focus {
    border-color: var(--clr-darkblue);
}
/* Error state */
.input-control.error .input {
  border-color: var(--clr-red); /* Change to the desired error color */
}

/* Success state */
.input-control.success .input {
  border-color: #09c372; /* Change to the desired success color */
}

.input-control .error {
  color: var(--clr-red);
  font-size: 0.7rem;
  text-align: end;
  padding-inline-end: 3em;
}
/* input:invalid {
      background-color: hsl(60, 100%, 97%);
  border: none;
  outline: 2px solid hsl(0, 100%, 50%);
  border-radius: 5px;
} */

.terms-and-services {
  font-size: 0.8rem;
  color: var(--clr-grayblue);
  margin-block: 1em 0;
  margin-inline: 1em;
}
.terms-and-services > span {
  color: var(--clr-red);
  font-weight: var(--fw-600);
}

/* || Media queries  */
